body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 150px; 
    padding-bottom: 60px; 
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #000000;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

header, footer {
    position: fixed;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    width: 100% ; 
    margin-left: 0px;
    margin-right: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    color: white;
    text-decoration: none;
}
